/src/*
!/src/main/
/src/main/*
!/src/main/frontend/
!/src/main/webapp/
/src/main/webapp/js/bundles/
/src/main/webapp/js/*.js
/src/main/webapp/css/
/src/main/webapp/*.css
/src/main/webapp/help/

/.mvn/*
/Jenkinsfile
/pom.xml
node_modules/
node/
target/
work/
README.md
docs/
.github/
