div.form-row {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.form-label {
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: larger;
    font-weight: bold;
}

div.permission-row {
    padding: 5px 0;
}

div.role-container {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: 525px;
    overflow-y: scroll;
}

div.role {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-width: thin;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    background-color: #fdfdfd;
    margin: 3px 3px;
}

button.submit-button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 5px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #dddddd;
    display: block;
}

button.submit-button:hover {
    background-color: #f1f1f1;
}

select[multiple] {
    border-color: #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    padding: 10px;
    scroll-padding: 10px;
    display: block;
    margin: 10px;
    width: content-box;
}

/* Taken from https://www.w3schools.com/howto/howto_js_collapsible.asp */

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: inherit;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.collapsible-content {
    padding: 0 18px;
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f1f1f1;
    transition: max-height 0.2s ease-out;
    min-height: 125px;
    max-height: 125px;
}
